<div class='card'>
  <div class="row w-100 pz-5">
    <%= render "create_email_button"%>
    <div class='col'id="emails">
      <% @emails.each do |email| %>
        <%= render 'index', email: email %>
      <% end %>
    </div>
    <div class='col-8 card bg-light p-0' id="email">
    </div>
  </div>
</div>






































































































